*{
    margin: 0px;
    padding: 0px;
}

div{
    display: flex;

}

.container{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.caixa{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    background-color: lightgray;
}

.bloco{
    width: 220px;
    height: 150px;
    border-radius: 10px;
}

.botao{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
}